/* 1. Responsive For Extra large Device 2
2. Desktop Device
3. Responsive For Tab Device
4. Comon in Tab & Mobile
5. Responsive For Mobile Device */



/* ============ 1. Responsive For Extra large Device 2 ============== */

@media (min-width: 1200px) and (max-width: 1700px) {}


/* ============ 2. Desktop Device ============== */
@media (min-width: 992px) and (max-width: 1199px) {

    .mainMenu ul li:nth-last-child(1) .sub-menu li .sub-menu,
    .mainMenu ul li:nth-last-child(2) .sub-menu li .sub-menu {
        left: auto;
        right: 105%;
    }

    .mainMenu ul li:nth-last-child(1) .sub-menu li:hover .sub-menu,
    .mainMenu ul li:nth-last-child(2) .sub-menu li:hover .sub-menu {
        left: auto;
        right: calc(100% + 1px);
    }

    .mainMenu ul li {
        margin-left: 20px;
    }

    .ctaIcon i {
        margin-right: 20px;
    }

    .bilogicaTab02 li a {
        padding: 0 20px;
    }

    .bilogicaTab li {
        margin: 10px;
    }

    .offerSection01 {
        padding: 0px;
    }

    .p-title {
        font-size: 13px;
        font-weight: bold;
        height: 56px;
        padding: 0;
    }

    .piPrice {
        font-size: 12px;
    }

    .categorySection01 {
        padding: 0;
    }

    .withoutBorder.productItem01 {
        margin-bottom: 50px;
        height: 360px;
    }

    .lookBookItem h4 {
        font-size: 30px;
    }

    .lookBookItem p {
        font-size: 15px;
    }

    .productItem02 {
        padding-left: 30px;
    }

    .productItem02 .pThumb img {
        max-width: 85%;
        height: 88px;
    }

    .catThumb {
        width: 225px;
        height: 225px;
    }
}

@media (max-width: 1199px) {

    .productSlider01.owl-carousel .owl-nav button,
    .categorySlider01.owl-carousel .owl-nav button {
        left: -12px;
    }

    .productSlider01.owl-carousel .owl-nav button.owl-next,
    .categorySlider01.owl-carousel .owl-nav button.owl-next {
        left: auto;
        right: -12px;
    }

    .midIconBox {
        margin-left: 15px;
    }

    .accessNav a {
        margin-left: 25px;
    }

    .accessNav a:first-child {
        margin-left: 0;
    }

    .hero-slider-01.owl-carousel .owl-nav {
        display: none;
    }

    .header02 .accessNav a {
        margin-left: 20px;
    }

    .tbWrapper {
        padding-left: 15px;
    }
}


/* ============ 3. Responsive For Tab Device ============== */
@media (min-width: 768px) and (max-width: 991px) {
    .topbar03 .tpmenu {
        text-align: left;
        margin: 0 -50px 0 -10px;
    }

    .productItem02 .pThumb {
        right: 20px;
        bottom: 5px;
    }

    .productItem04 .pThumb img {
        width: 130px;
        height: 88px;
    }

    .topbar01 p {
        margin: 0 -14px;
    }

    .topbar01 .tpmenu {
        margin: 0 -15px 0 15px;
    }

    .tpmenu ul li {
        margin-right: 12px;
        padding-right: 12px;
    }

    .bilogicaTab02 {
        margin: 0 0 37px;
    }

    .bilogicaTab02 li {
        margin: 0;
    }

    .bilogicaTab02 li a {
        padding: 0 15px;
    }

    .ctaIcon i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        margin-right: 15px;
        min-width: 60px;
    }

    .ctaIcon h4 {
        margin: 0;
    }

    .ctamailchimp {
        padding: 25px;
    }

    .mc4wp-form button {
        padding: 0 20px;
    }
}


/* ============  4. Comon in Tab & Mobile ============== */
@media (max-width: 991px) {
    .text-content {
        padding-left: 10px;
    }

    .text-content h4 {
        font-size: 30px;
    }

    .text-content p {
        font-size: 13px;
    }

    .content-wrapper {
        padding-top: 10%;
    }

    .productSection01 {
        padding: 0;
    }

    .categorySection01 {
        padding: 0;
    }

    .footer03 {
        padding-top: 180px;
    }

    .footer03 .widget {
        margin: 0 0 40px;
    }

    .cateItem02 {
        margin-bottom: 30px;
    }

    .searchViewModal .search_form {
        padding: 0 18px;
    }

    .searchViewModal .search_form .search-category {
        right: 25px;
    }

    .header02 .navbar01 {
        padding: 14px 15px;
    }

    .productItem02 .pThumb img {
        max-width: 65%;
    }

    .countdown_dashboard02.commoncount .countdown-section {
        margin-right: 30px;
    }

    .countdown_dashboard02.commoncount .countdown-section:last-child {
        margin-right: 0;
    }

    .countdown_dashboard02.commoncount .countdown-section .countdown-amount:after {
        right: -18px;
    }

    .ctamailchimp {
        margin-bottom: 50px;
    }

    footer .widget {
        margin: 0 0 40px;
    }

    .lookBookItem {
        display: flex;
    }


    .lookBookItem .off {
        right: 25px;
    }

    .productItem02 {
        padding-left: 25px;
    }

    /*-- Mobile Menu --*/
    .header01 {
        padding: 5px 0;
    }

    .menu_btn {
        height: 45px;
        width: 45px;
        border-radius: 3px;
        background: var(--theme-color);
        color: #FFF;
        line-height: 46px;
        font-size: 20px;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-top: 0;
    }

    .menu_btn i {
        line-height: inherit;
    }

    .menu_btn:hover,
    .menu_btn.active {
        color: #FFF;
    }

    .menu_btn.active .nss-bars2:before {
        content: "\fa88";
    }

    .header02 .mainMenu,
    .mainMenu {
        z-index: 99;
        position: absolute;
        margin: 0;
        padding: 0;
        left: 15px;
        top: 100%;
        width: calc(100% - 30px);
        background: #fff;
        box-shadow: -2px 4px 7px 0px rgba(226, 225, 225, .79);
        display: none;
        max-height: calc(100vh - 150px);
        overflow-y: scroll;
    }

    .header02 .mainMenu ul li,
    .mainMenu ul li {
        transform: none;
        transition: none;
        padding: 0;
        margin: 0;
        position: inherit;
        display: block;
        width: 100%;
    }

    .mainMenu ul li .sub-menu li:first-child {
        border-top: 1px solid rgba(0, 0, 0, .05);
    }

    .mainMenu>ul>li>a {
        padding: 11px 20px;
        border-top: 1px solid rgba(0, 0, 0, .05);
    }

    .mainMenu ul li.menu-item-has-children>a::before {
        right: 20px;
        font-size: 20px;
    }

    .mainMenu ul .sub-menu li.menu-item-has-children>a::before {
        font-size: 18px;
    }

    .mainMenu ul li .sub-menu li .sub-menu,
    .mainMenu ul li .sub-menu {
        z-index: 5;
        position: relative;
        width: 100%;
        opacity: 1;
        margin: 0;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        visibility: visible;
        pointer-events: inherit;
        top: 0;
        left: 0;
        display: none;
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transition: none;
        -ms-transition: none;

        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: none;
        -ms-transition: none;
    }

    .mainMenu ul li .sub-menu li:hover .sub-menu,
    .mainMenu ul li:hover .sub-menu {
        visibility: visible;
        opacity: 1;
        left: auto;
        pointer-events: inherit;
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transition: none;
        -ms-transition: none;
    }

    .mainMenu ul li .sub-menu li {
        display: block;
        padding: 0;
        margin: 0;
        -webkit-transition: none;
        transition: none;
        opacity: 1;
        visibility: visible;
        transition: none;
        transform: none;
    }

    .mainMenu>ul ul li:first-child {
        border-top: 1px solid rgba(0, 0, 0, .05);
    }

    .mainMenu>ul ul li {
        border-color: rgba(0, 0, 0, .05);
    }

    .mainMenu ul li .sub-menu li a {
        padding: 10px 25px;
        padding-left: 40px;
    }

    .mainMenu ul li .sub-menu ul li a {
        padding-left: 55px;
    }

    .mainMenu ul li .sub-menu li.current-menu-item>a,
    .mainMenu ul li .sub-menu li:hover>a {
        padding-left: 45px;
    }

    .mainMenu ul li .sub-menu .sub-menu li.current-menu-item>a,
    .mainMenu ul li .sub-menu .sub-menu li:hover>a {
        padding-left: 55px;
    }

    .mainMenu ul li .sub-menu .sub-menu li.current-menu-item>a:after,
    .mainMenu ul li .sub-menu .sub-menu li:hover>a:after {
        left: 35px;
    }

    /*-- Mobile Menu --*/
    .accessNav .myaccount {
        font-size: 0;
        margin-left: 15px;
    }

    .logo img {
        height: 90px;
    }

    .search-product {
        margin: 24px 0 0;
    }

    .search-product input[type="search"] {
        padding-left: 30px;
    }

    .withoutBorder.productItem01 {
        margin-bottom: 30px;
    }

    .close-menu-btn {
        display: none;
    }


    .open-menu-btn {
        display: block;
    }

    .main-menu>ul>li {
        display: block;
        padding: 14px 24px;
        text-align: left;
        border-bottom: 1px solid hsla(0, 0%, 0%, 0.25);
    }

    .main-menu>ul>li:first-child {
        border-top: 1px solid hsla(0, 0%, 0%, 0.25);
    }

    .main-menu>ul>li>a {
        font-size: 14px;
    }

    .main-menu .sub-menu {
        position: absolute;
        padding: 0;
        background: #1f1f1f;
        transform-origin: top;
        transform: scaleY(0);
        visibility: hidden;
        opacity: 0;
        width: 80%;
    }

    .offcanvas-header {
        color: #fff;
    }

    .offcanvas-header .btn-close {
        background-color: #fff;
        font-size: 16px;
    }

    .main-menu>ul>li:hover>.sub-menu {
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease-in-out;
        transform: none;
    }

    .main-menu .sub-menu>li>a {
        color: #ffffff;
    }

    .main-menu .sub-menu>li {
        display: block;
        padding: 6px 24px;
        text-align: left;
        border-bottom: 1px solid hsla(0, 0%, 0%, 0.25);
    }

    .offcanvas.show:not(.hiding),
    .offcanvas.showing {
        background-color: #444242;
    }

    /* form-search */
    .form-search input {
        font-size: 16px;
        padding: 8px 14px;
    }

    .form-search button {
        padding: 14px;
    }

    .form-search button i {
        font-size: 10px;
        color: #ff0000;
    }


    .item img {
        height: 60vh !important;
    }
}


/* ============  5. Responsive For Mobile Device ============== */
@media (max-width: 767px) {
    .tbWrapper {
        padding-left: 0;
        text-align: center;
    }

    .contact-form form .item-row {
        margin-bottom: 20px;
    }

    .ctaIcon i {
        width: 50px;
        height: 50px;
    }

    .topbar03 .myaccount,
    .topbar03 .tpmenu {
        display: none;
    }

    .productSection01 .container {
        padding: 10px 0;
    }

    .header02 .accessNav {
        padding: 35px 10px 0 5px;
    }

    .offerSection02 .secTitle {
        font-size: 10px;
    }

    .offerSection01 {
        display: block;

    }

    .offerSection02 {
        display: none;
    }

    .testmonialSlider02.owl-carousel .owl-stage-outer {
        height: calc(100% + 30px);
        margin: -15px;
        padding: 15px;
        width: calc(100% + 30px);
    }

    .icon_box_02 {
        margin: 0 0 30px;
    }

    #hsindicators .slider-content h2 {
        margin: 80px 0 22px;
    }

    #hsindicators .carousel-item {
        height: 600px;
    }

    #hsindicators .carousel-indicators li {
        width: 90px;
        height: 90px;
        margin: 0 5px
    }

    .header02 .mainMenu,
    .mainMenu {
        width: 100%;
        left: 0;
    }

    .accessNav .ctPrice {
        display: none;
    }

    .header02 .accessNav a {
        margin-left: 10px;
    }

    .productItem02 {
        margin-top: 30px;
    }

    .midIconBox {
        display: none;
    }

    .bilogicaTab02 {
        display: block;
        text-align: center;
        margin: 30px 0 25px;
    }

    .bilogicaTab02 li {
        margin: 0 10px 10px;
    }

    .productItem03 {

        padding-left: 20px;
        width: 100%;
    }

    .qicon {
        top: auto;
        font-size: 45px;
        right: 25px;
        bottom: 20px;
    }

    .tsAuthor h5 {
        font-size: 23px;
    }

    .tsAuthor {
        padding: 6px 0 0 90px;
    }

    .testItem01 .tsAuthor img {
        width: 75px;
        height: 75px;
    }

    .testItem01 {
        padding-left: 25px;
        padding-right: 20px;
    }

    .bilogicaTab {
        display: block;
        text-align: center;
    }

    .bilogicaTab li {
        margin: 0 15px 15px;
    }

    .productItem02 .pThumb {
        margin: 20px 0 0;
        position: relative;
        right: 0;
        bottom: 0;
    }

    .productItem04 .pThumb {
        top: 30%
    }

    .productItem04 .pThumb img {
        width: 110px;
        height: 88px;
    }

    .hero-slider-01.owl-carousel .owl-nav {
        display: none;
    }

    .slider-content .sub-title {
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 20px;
    }

    .slider-content h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .all-categories-dropdown .categoryToggle i {
        margin-left: 10px;
    }

    .all-categories-dropdown .categoryToggle svg {
        margin-right: 8px;
    }

    .all-categories-dropdown {
        width: 225px;
    }

    .topbar01 {
        text-align: center;
    }

    .cd_wrapper:after,
    .cd_wrapper:before {
        display: none;
    }

    .tpmenu ul li a {
        padding: 0;
    }

    .topsocial {
        text-align: center;
    }

    .logo img {
        height: 50px;
        position: relative;
        z-index: 2;
    }

    .col-lg-6 {
        margin: 10px 0;
    }

    .accessNav .myaccount {
        font-size: 0;
        margin-left: 15px;
    }

    .accessNav02 {
        display: none;
    }

    .accessNav a {
        margin-left: 24px;
    }

    .accessNav {
        padding: 0;
        margin-top: -36px;
    }

    .secTitle {
        font-size: 34px;
    }

    .testmonialSlider01.owl-carousel .owl-stage-outer,
    .productSlider01.owl-carousel .owl-stage-outer,
    .categorySlider01.owl-carousel .owl-stage-outer {
        height: calc(100% + 30px);
        margin: -15px;
        padding: 15px;
        width: calc(100% + 30px);
    }

    .mc4wp-form button {
        padding: 0 20px;
    }

    .mc4wp-form input[type="email"] {
        padding: 0 20px;
    }

    .ctamailchimp {
        border-radius: 50px;
        margin-bottom: 60px;
    }

    .copyright {
        display: block;
        text-align: center;
        padding: 19px 25px;
    }

    .static-area-wrap .single-static {
        display: block;

    }
}

@media (max-width: 399px) {
    .header02 .accessNav a.compare {
        display: none;
    }

    .ctamailchimp {
        padding-right: 20px;
        padding-left: 20px;
    }

    .productItem04 .pThumb {
        width: 90px;
        height: 88px;
    }

    .productItem04 {
        padding-left: 120px;
    }

    .productItem04 .piActionBtns a {
        margin: 0 3px;
    }

    .productItem04 .piActionBtns a:last-child {
        margin-right: 0;
    }

    .ctaIcon i {
        display: none;
    }
}